.log-in-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #234E70;
}
.log-in-container1 {
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 10%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.log-in-container2 {
  width: 740px;
  height: 710px;
  display: flex;
  align-self: center;
  box-shadow: 5px 5px 20px 0px #132b3d,-5px -5px 20px 0px #132b3d;
  align-items: center;
  margin-bottom: 2px;
  flex-direction: column;
  justify-content: center;
  background-color: #C5E4FC;
}
.log-in-container3 {
  width: 440px;
  height: 110px;
  display: flex;
  align-self: center;
  box-shadow: 0px 5px 10px 0px #93abbd;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  border-color: #ADC9DE;
  border-width: 5px;
  justify-content: center;
  background-color: #C5E4FC;
  border-left-width: 5px;
  border-right-width: 3px;
  border-bottom-width: 0px;
}
.log-in-text {
  color: #234E70;
}
.log-in-container4 {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: flex-start;
}
.log-in-container5 {
  gap: 10%;
  width: 100%;
  height: 255px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.log-in-textinput {
  color: #234E70;
  width: 80%;
  height: var(--dl-size-size-medium);
  border-width: 0px;
  background-color: #ADC9DE;
}
.log-in-textinput1 {
  color: #234E70;
  width: 80%;
  height: var(--dl-size-size-medium);
  border-color: #234e70;
  border-width: 0px;
}
.log-in-container6 {
  gap: 10%;
  width: 100%;
  height: 268px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.log-in-container7 {
  flex: 0 0 auto;
  width: 50%;
  height: 40%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.log-in-button {
  color: #C5E4FC;
  width: 100%;
  height: 100%;
  font-size: 60px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}
.log-in-text1 {
  color: #C5E4FC;
}
.log-in-container8 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.log-in-button1 {
  color: #C5E4FC;
  width: 50%;
  height: 100%;
  font-size: 32px;
}
