.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  border-color: #63583e;
  border-width: 15px;
  flex-direction: column;
  background-color: #e3b448;
}
.home-container1 {
  width: 100%;
  height: 142px;
  display: flex;
  align-items: flex-start;
}
.home-text {
  width: 542px;
  height: 144px;
  text-align: center;
  margin-right: var(--dl-space-space-unit);
}
.home-container2 {
  width: 100%;
  height: 155px;
  display: flex;
  align-items: flex-start;
}
.home-container3 {
  width: 100%;
  height: 145px;
  display: flex;
  align-items: flex-start;
}
.home-container4 {
  width: 100%;
  height: 210px;
  display: flex;
  align-items: flex-start;
}
.home-container5 {
  flex: 0 0 auto;
  width: 565px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container6 {
  flex: 0 0 auto;
  width: 521px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
